/* ------------------ printable options */

@media print {
    @page {
        size: A4 landscape;
        /* Fekvő (landscape) mód */
        margin: 0;
        /* Margók eltávolítása a teljes szélesség kihasználásához */
    }
    body {
        overflow: hidden !important;
        /* Görgetősáv elrejtése a body-n */
    }
    section,
    button {
        display: none !important;
    }
    .printable {
        display: block !important;
        /* Csak a nyomtatható elem megjelenítése */
        width: 100% !important;
        /* 100%-os szélesség beállítása */
        margin: 0 !important;
        /* Margók eltávolítása a szélesség teljes kihasználásához */
    }
    #play-table {
        width: 30%;
    }
    #play-chart {
        width: 70%;
    }
}


/* ------------------ "fonts" style */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../style/fonts/roboto-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'), url('../style/fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../style/fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../style/fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../style/fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../style/fonts/roboto-v20-latin-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: url('../style/fonts/inconsolata-v18-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url('../style/fonts/inconsolata-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../style/fonts/inconsolata-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../style/fonts/inconsolata-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../style/fonts/inconsolata-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../style/fonts/inconsolata-v18-latin-regular.svg#Inconsolata') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Speedy-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../style/fonts/Speedy-Regular.eot');
    /* IE9 Compat Modes */
    src: local('Speedy-Regular'), local('Speedy-Regular'), url('../style/fonts/Speedy-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../style/fonts/Speedy-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../style/fonts/Speedy-Regular.woff') format('woff'), /* Modern Browsers */
    url('../style/fonts/Speedy-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../style/fonts/Speedy-Regular.svg#Inconsolata') format('svg');
    /* Legacy iOS */
}

.fa {
    color: #666;
}


/* ------------------ "default" style */

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    line-height: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* ------------------ "container" style */

.full {
    min-height: 100%;
    height: 100%;
}

.row-not-full {
    height: 90vh;
}

.row-full {
    /*height: 90vh;*/
}

.row-full>div {
    padding: 0;
    padding: 0.5rem;
}

.row-half {
    height: 45vh;
}

.container-fluid,
.row,
.null {
    margin: 0;
    padding: 0;
}

.space {
    margin: 0 1.0rem;
}


/* ------------------ "navigation" style */

#navigation {
    font-family: 'Roboto';
    background: #D6DBDF;
    background: #424;
}

#navigation div {
    padding: 5px 5px 0px 5px;
    /*border-bottom: solid 3px #fff;*/
}

#navigation button {
    width: 4rem;
    background: #fff;
    border: 0;
    border-bottom: solid 5px #424;
}

#navigation button i {
    color: #783278;
    padding: 5px;
}

#deactivateWorkSpaceText {
    color: red;
}

#navigation button i.active {
    color: red;
}

#navigation button i p {
    margin: 0;
    padding: 0;
    margin-top: 0.5rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-family: 'Roboto';
    color: #424;
}


/* hover */

#navigation button:hover {
    opacity: 0.7;
    border-color: magenta;
}


/* ------------------ "main" style */

.watermark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    pointer-events: none;
    white-space: nowrap;
}


/* ------------------ "toolsDiv style */

#toolsDiv {
    position: fixed;
    /* Fixes the sidebar position */
    right: 0;
    overflow: hidden;
    height: 100vh;
    /* Full height */
    padding-top: 0.5vw;
    padding-right: 0.2vw;
}


/* Inner container with scroll */

.scroll-container {
    height: 100%;
    /* Full height within sidebar */
    overflow-y: auto;
    /* Enables vertical scrolling */
    padding: 1rem;
}


/* Custom scrollbar styling */

.scroll-container::-webkit-scrollbar {
    width: 8px;
    /* Scrollbar width */
}

.scroll-container::-webkit-scrollbar-track {
    background: #e0e0e0;
    /* Track color */
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Thumb color */
    border-radius: 10px;
    /* Round edges */
    border: 2px solid #e0e0e0;
    /* Creates space around thumb */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Hover effect */
}


/* ------------------ "workSpace style */

#workSpace {
    width: 800px;
    height: 600px;
    border: 1px dashed black;
    margin: 5px;
    background-color: #fff;
    background-image: radial-gradient(#dbdbdb 1px, transparent 1px);
    background-size: 5px 5px;
}

.rectangle {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
    pointer-events: auto;
    width: 135px;
    height: 135px;
    z-index: 1;
    box-shadow: rgba(50, 50, 93, 0.35) 0px 6px 12px -2px, rgba(0, 0, 0, 0.4) 0px 3px 7px -3px;
    /*user-select: none; */
}

.rectangle h5 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
    color: #8a21c5;
}

.rectangle h6 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.65rem;
    color: #444;
}

#deactivateButton {
    position: absolute;
    padding: 5px;
    background: #c0392b;
    border: 0;
    font-weight: bold;
    font-size: 1.0rem;
    cursor: pointer;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

#deactivateButton i {
    color: #fff;
}

.closeButton {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    right: -40px;
    background: #c0392b;
    color: #fff;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.rawButton {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    left: -40px;
    background: #2980b9;
    color: #fff;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.rawButton:active {
    background: #1bb5de;
}

.playButton {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 40px;
    left: -40px;
    background: #16a085;
    color: #fff;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.playButton:active {
    background: #32d55e;
}

.printButton {
    border: 0;
    background: #16a085;
    color: #fff;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding: 10px 15px;
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
}

.printButton i {
    color: #fff;
    margin-right: 0.75rem;
}


/* ------------------ "Tools style */

h4.toolLabel {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1vw;
    color: #333;
    border-bottom: solid 1px #424;
}

.plutoToolButton {
    width: 100%;
    margin-top: 1rem;
    text-align: left;
    /*border: dashed 2px #b5a6c3;*/
    border: 0;
    background: #F0C674;
    -webkit-box-shadow: -5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: -5px 5px 5px -3px rgba(0, 0, 0, 0.75);
}

.plutoToolButton:active {
    background: #d9a135;
    border: 0;
}

.plutoToolButton span {
    text-transform: uppercase;
    font-size: 1.15vw;
    color: #5D4037;
    position: relative;
    top: 0.25vw;
    font-weight: normal;
}

.plutoToolButton span:last-child {
    font-size: 0.75vw;
    color: #666;
    position: rleative;
    top: -0.12vw;
    font-weight: normal;
    text-transform: none;
}

.plutoToolButton img {
    width: 3vw;
    margin: 0.2vw 0.5vw;
}

.plutoToolButtonSetup {
    text-align: right;
}

.plutoToolButtonSetup a {
    text-decoration: underline;
    color: #4169E1;
}

.plutoToolButtonSetup a:hover {
    color: #0000FF;
}

.greenButton {
    background: #adddcd;
}

.greenButton:active {
    background: #5fe4ae;
}

.greenButton img {
    width: 2.5vw;
}

.plutoToolMathButton {
    width: 24%;
    margin-top: 1rem;
    text-align: left;
    border: 0;
    /*background: #F0C674;*/
    -webkit-box-shadow: -5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: -5px 5px 5px -3px rgba(0, 0, 0, 0.75);
}

.plutoToolMathButton div {
    font-size: 1.5vw;
}

div.toolSpace {
    width: 100%;
    height: 2rem;
}

.rotate45 {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#math-const-input {
    width: 24%;
    text-align: right;
    font-weight: bold;
    border: 0;
    background: none;
    border-bottom: solid 2px #424;
}

/* contactLine */

.line {
    position: absolute;
    height: 2px; /* Vonal vastagsága */
    background-color: black;
    transform-origin: 0 50%; /* Elforgatás bal oldali középpontból */
    z-index: 0; /* Téglalapok mögé kerül */
}