table.numeric-simple {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    min-width: 18vw;
    margin: 0 auto;
}

table.numeric-simple tr {}

.numeric-simple tr td,
.numeric-simple tr th {
    padding: 0.34rem 0.5rem;
    border: solid 1px #bb8fce;
}

.numeric-simple tr th {
    text-align: center;
    background: #424;
    color: #fff;
    font-size: 1.05rem;
    font-weight: bold;
}

.numeric-simple tr th:nth-child(2) {
    text-align: left;
}

.numeric-simple tr td:nth-child(1) {
    font-size: 1rem;
    font-weight: normal;
    color: #999;
    text-align: center;
    min-width: 6vh;
}

.numeric-simple tr td:nth-child(2) {
    font-size: 1.0rem;
    font-weight: bold;
    color: #333;
    min-width: 16vh;
}

.buttonItemDelete {
    float: right;
    margin-left: 0.5vw;
    border: 0;
    background: 0;
}

.buttonItemDelete i {
    color: #c0392b;
}

.buttonItemUpdate {
    float: right;
    margin-left: 0.5vw;
    border: 0;
    background: 0;
}

.buttonItemUpdate i {
    color: #2980b9;
}